@import "ember-photoswipe";

html, body,
body > .ember-view,
body > .ember-view > .container,
body > .ember-view > .container > .row {
  height: 100%;
}

body {
  background-color: #EEE;
}

.img-fluid {
  cursor: pointer;
}
