@import "ember-cli-bootstrap-4/functions";
@import "ember-cli-bootstrap-4/variables";
@import "ember-cli-bootstrap-4/mixins";
@import "ember-cli-bootstrap-4/root";
@import "ember-cli-bootstrap-4/reboot";
@import "ember-cli-bootstrap-4/images";
@import "ember-cli-bootstrap-4/grid";
@import "ember-cli-bootstrap-4/utilities";

@import "ember-photoswipe";

html, body,
body > .container,
body > .container > .row {
  height: 100vh;
}

body {
  background-color: #EEE;
}

.img-fluid {
  cursor: pointer;
}
